#mb-testimonials ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

    #mb-testimonials ul li {
        position: relative;
        background-color: #F8F8F8;
        display: inline-block;
        clear: both;
        margin-bottom: 20px;
        padding: 20px;
        margin: 10px;
        width: 365px;
    }

        #mb-testimonials ul li textarea {
            display: block;
            clear: both;
            margin-bottom: 10px;
        }

        #mb-testimonials ul li input {
            margin: 0 10px;
        }

        #mb-testimonials ul li .btn {
            position: absolute;
            top: 10px;
            right: 10px;
        }

#mb-testimonials > span.btn {
    margin-left: 10px;
}


#mb-testimonials textarea {
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
    width: 300px;
    height: 100px;
    max-height: 100px;
}
